html{
    overflow: hidden !important;
    background: rgb(5,73,128);
    background: linear-gradient(35deg, rgba(5,73,128,1) 7%, rgba(160,110,183,1) 85%);
}
.mainContainer{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    .containerNav{
        max-height: 80px;
        height: 80px !important;        
    }
    .containerApp{
        flex-grow: 1;
        background: rgb(169,207,255);
        background: linear-gradient(0deg, rgba(224,241,255,1) 35% , rgba(169, 208, 255, 0.61)  );
        overflow-y: scroll;
        
&::-webkit-scrollbar {
    width:min(0.5rem,5px)
  }
  
 
  &::-webkit-scrollbar-thumb {
    background-color: #4E79B5; 
    border-radius: min(0.5rem,5px);
  }
  
  
  &::-webkit-scrollbar-track {
    background-color: #E0F1FF; 
  }
    }
}