@import 'variables'; 

@each $color-name, $color-value in (
  primary: $primary-color,
  secondary:$secondary-color,
  female:$famale-color,
  male:$male-color,
  genderless: $Genderless-color,
  unknown: $Unknown-color
) {
  .text-#{$color-name} {
    color: $color-value;
  }

  .bg-#{$color-name} {
    background-color: $color-value;
  }
}